
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Microsoft YaHei", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// boostrap navbar
$navbar-light-color: #FFFFFF;
$navbar-light-active-color: #246AF8;
$navbar-light-hover-color: #246AF8;