html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td,ol {
	margin: 0;
	padding: 0;
	outline:none;
}
table{border-collapse:collapse;border-spacing:0;border:0;}
body{Font-size:62.5%,"Arial Narrow",HELVETICA; text-align:left;line-height:1.2;}
/*A*/
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
/*img*/
img{ border:0 none; vertical-align:top;}
/*li*/
ul,li{list-style-type:none;}
/*浮动*/
.fl{
	float:left;
	display:inline;
}
.fr{
	float:right;
	display:inline;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	line-height: 0;
}
.clearfix {
	zoom: 1;
}
img{boder:0;}
a{blr:expression(this.onFocus=this.close());}
a{blr:expression(this.onFocus=this.blur());}
a:focus { -moz-outline-style: none; }
a:focus { outline: none; }
.clear{clear:both;}
/*wrap*/
#wrap{text-align:left;}
/*宽度*/
.w992{
	width:992px;
	margin:0 auto;
	zoom:1;
}
.w1000{
	width:1000px;
	margin:0 auto;
	zoom:1;
}
.w980{
	width:980px;
	margin:0 auto;
	zoom:1;
}
.w970{
	width:970px;
	margin:0 auto;
	zoom:1;
}
.w990{
	width:990px;
	margin:0 auto;
	overflow:hidden;
	zoom:1;
}
.w1192{
	width:1192px;
	margin:0 auto;
	overflow:hidden;
	zoom:1;
}
.w1000{
	width:1000px;
	margin:0 auto;
	zoom:1;
}
.w1004{
	width:1004px;
	margin:0 auto;
	zoom:1;
}
.w1002{
	width:1002px;
	margin:0 auto;
	zoom:1;
}
.w1216{
	width:1216px;
	margin:0 auto;
	padding:0;

}
.mb-none{
	margin-bottom:0px;
}
.mr-none{
	margin-right:0px !important;
}
.border{
	border:none !important
}
/*button*/
button{ cursor:pointer;}

/*i,em重置*/
i,em{ font-style:normal;}

.page a{
	display:inline-block;
	height:30px;
	line-height:30px;
	padding-left:11px;
	padding-right:11px;
	font-family:Arial;
	font-size:12px;
	color:#ffffff;
	background:#DCDCDC;
	border-radius:100%;
}
.page{
	text-align:center;
	padding-top:10px;
}
.page a:hover{
	background:#89B126;
	color:#ffffff;
}
.page a.on{
	background:#89B126;
	color:#ffffff;
}
.page span{
	display:inline-block;
	height:30px;
	line-height:30px;
	padding-left:11px;
	padding-right:11px;
	font-family:Arial;
	font-size:12px;
	color:#666666;
	background:#DCDCDC;
	border-radius:100%;
}

/**
==========================================
<div class="page">
	<a href="#">上一页</a>
	<a href="#" class="on">1</a>
	<a href="#">2</a>
	<a href="#">3</a>
	<a href="#">4</a>
	<span>...</span>
	<a href="#">15</a>
	<a href="#">16</a>
	<a href="#">下一页</a>
</div>
==========================================
**/
/* Header */
.htmleaf-header{
	padding: 1em 190px 1em;
	letter-spacing: -1px;
	text-align: center;
	background: #66677c;
}
.htmleaf-header h1 {
	color: #D5D6E2;
	font-weight: 600;
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.htmleaf-header h1 span {
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
	display: block;
	font-size: 60%;
	font-weight: 400;
	padding: 0.8em 0 0.5em 0;
	color: #c3c8cd;
}
/*nav*/
.htmleaf-demo a{color: #fff;text-decoration: none;}
.htmleaf-demo{width: 100%;padding-bottom: 1.2em;}
.htmleaf-demo a{display: inline-block;margin: 0.5em;padding: 0.6em 1em;border: 3px solid #fff;font-weight: 700;}
.htmleaf-demo a:hover{opacity: 0.6;}
.htmleaf-demo a.current{background:#1d7db1;color: #fff; }
/* Top Navigation Style */
.htmleaf-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.5em;
	text-align: center;
}

.htmleaf-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.htmleaf-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.htmleaf-icon span {
	display: none;
}

.htmleaf-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
/* footer */
.htmleaf-footer{width: 100%;padding-top: 10px;}
.htmleaf-small{font-size: 0.8em;}
.center{text-align: center;}
/****/
.related {
	color: #fff;
	background: #494A5F;
	text-align: center;
	font-size: 1.25em;
	padding: 0.5em 0;
	overflow: hidden;
}

.related > a {
	vertical-align: top;
	width: calc(100% - 20px);
	max-width: 340px;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.related a {
	display: inline-block;
	text-align: left;
	margin: 20px auto;
	padding: 10px 20px;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
	opacity: 1;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 4px;
}
.related a:hover img,
.related a:active img {
	opacity: 1;
}
.related h3{font-family: "Microsoft YaHei", sans-serif;}
.related a h3 {
	font-weight: 300;
	margin-top: 0.15em;
	color: #fff;
}
/* icomoon */
.icon-htmleaf-home-outline:before {
	content: "\e5000";
}

.icon-htmleaf-arrow-forward-outline:before {
	content: "\e5001";
}

@media screen and (max-width: 50em) {
	.htmleaf-header {
		padding: 3em 10% 4em;
	}
	.htmleaf-header h1 {
        font-size:2em;
    }
}


@media screen and (max-width: 40em) {
	.htmleaf-header h1 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 30em) {
    .htmleaf-header h1 {
        font-size:1.2em;
    }
}

.mobile-inner-nav a{
	position: relative;
	display: block;
	overflow: hidden;
	
}

.mobile-inner-nav a{
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: returnToNormal;
	animation-name: returnToNormal;
}
		
@-webkit-keyframes returnToNormal {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
			transform: translate3d(0, -100%, 0);
  }

  100% {
	opacity: 1;
	-webkit-transform: none;
			transform: none;
  }
}

@keyframes returnToNormal {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
			transform: translate3d(0, -100%, 0);
  }

  100% {
	opacity: 1;
	-webkit-transform: none;
			transform: none;
  }
}

@-webkit-keyframes ReturnToNormal {
0%{
	-webkit-transform: scale(0.1,1);
	-ms-transform: scale(0.1,1);
	// transform: translate: scale(0.1,1);
	}


  100% {
	-webkit-transform: scaleX(1,1);
	-ms-transform: scale(1,1);
	// transform: translate: scaleX(1,1);
  }

  
}

@keyframes ReturnToNormal {
0%{
	-webkit-transform: scale(0.1,1);
	-ms-transform: scale(0.1,1);
	// transform: translate: scale(0.1,1);
	}


  100% {
	-webkit-transform: scaleX(1,1);
	-ms-transform: scale(1,1);
	// transform: translate: scaleX(1,1);
  }
}

#header-left{
	float: left;
	height: 50px;
}
#header-left:hover #header-left-icon{
	background-color: #3F8DBF;
}
#header-left:hover #header-left-text{
	background-color: #599BC8;
}
#header-left-icon{
	float: left;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #35759F;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-left-icon a {
	font-size: 25px;
}

#header-left-text{
	float: left;
	height: 50px;
		-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-left-text a {
	padding-left: 20px;
	padding-right: 20px;
}
#header-right{
	float: right;
	height: 50px;
}
#header-right:hover #header-right-icon{
	background-color: #3F8DBF;
	}
#header-right:hover #header-right-text{
	background-color: #599BC8;
	}
#header-right-icon{
	float: right;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #35759F;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-right-text{
	float: right;
	height: 50px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-right-text a {
	padding-right: 20px;
	padding-left: 20px;
}
.wrapper{
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 150px;
}
.wrapper-inner{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
.wrapper-inner-buttons{
	width: 100%;
	float: left;
	margin-top:50px;
	text-align: center;
}
.wrapper-inner-buttons a{
	background-color: #3f8dbf;
	line-height: 35px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 10px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	border-radius: calc(35px / 2);
}
.wrapper-inner-buttons a.current{
	background-color: #f5d76e;
	color: #d35400;
}
.wrapper-inner-buttons a:hover{
	background-color: #35759F;
	color: #fff;
}
.mobile{
	width:100%;
}
.mobile-inner{
	width:100%;
	position:relative;
}
.mobile-inner-header{
	background-color: rgba(6,25,50,1);
	width:100%;
	height:50px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
}
.mobile-inner-header-icon{
	color: #666666;
	height: 50px;
	font-size:25px;
	text-align: center;
	float:right;
	width: 50px;
	position: relative;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.mobile-inner-header-icon:hover{
	/*background-color: rgba(255,255,255,0.2);*/
	cursor: pointer;
}
.mobile-inner-header-icon span{
	position: absolute;
	left: calc((100% - 30px) / 2);
	top: calc((100% - 3px) / 2);
	width: 30px;
	height: 3px;
	background-color: rgba(255,255,255,0.7);
}
.mobile-inner-header-icon span:nth-child(1){
transform: translateY(4px) rotate(0deg);
	}
.mobile-inner-header-icon span:nth-child(2){
transform: translateY(-4px) rotate(0deg);
	}
	



	
.mobile-inner-header-icon-click span:nth-child(1){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: clickfirst;
	}		
.mobile-inner-header-icon-click span:nth-child(2){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: clicksecond;
	}
	


@keyframes clickfirst {
  0% {
	  transform: translateY(4px) rotate(0deg);
	  
  }

  100% {
    transform: translateY(0) rotate(45deg);
  }
}	



@keyframes clicksecond {
  0% {
	  transform: translateY(-4px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}	

.mobile-inner-header-icon-out span:nth-child(1){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: outfirst;
	}		
.mobile-inner-header-icon-out span:nth-child(2){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: outsecond;
	}

@keyframes outfirst {
  0% {
    transform: translateY(0) rotate(-45deg);
  }

  100% {
    transform: translateY(-4px) rotate(0deg);
  }
}	



@keyframes outsecond {
  0% {
    transform: translateY(0) rotate(45deg);
  }

  100% {
    transform: translateY(4px) rotate(0deg);
  }
}

.mobile-inner-nav{
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	position:fixed;
	top:50px;
	left:0px;
	display:none;
	z-index:9999;
	height:90%;
	padding-top:10%;
}
.mobile-inner-nav a{
	display: inline-block;
	line-height: 50px;
	text-decoration: none;
	width: 80%;
	margin-left: 10%;
	color: #FFFFFF;
	border-bottom: solid 1px rgba(255,255,255,0.3);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-weight:300;
}
.mobile-inner-nav a:hover{
	color: rgba(255,255,255,0.4);
	border-bottom: solid 1px rgba(255,255,255,0.2);
}



.flickerplate {
	position:relative;
	width:100%;
	height:100%;
	background-color:#e6e6e6;
	overflow:hidden;
}
.flickerplate ul.flicks {
	width:10000%;
	height:100%;
	padding:0px;
	margin:0px;
	list-style:none
}
.flickerplate ul.flicks>li {
	float:left;
	width:1%;
	height:100%;
	background-position:left;
	background-size:cover;
	display:table
}
.flickerplate ul.flicks>li .flick-inner {
	height:100% !important;
	padding:10px;
	color:#fff;
	display:table-cell;
	vertical-align:middle
}
.flickerplate ul.flicks>li .flick-inner .flick-content {
	max-width:68.75em;
	margin-left:auto;
	margin-right:auto
}
.flickerplate ul.flicks>li .flick-title {
	padding:0px 0px;
	font-size:2.778em;
	line-height:1.995em;
	text-align:center
}
@media only screen and (max-width: 43.813em) {
.flickerplate ul.flicks>li .flick-title {
font-size:1.667em
}
}
.flickerplate ul.flicks>li .flick-sub-text {
	padding:5px;
	font-weight:300;
	line-height:2.5em;
	color:rgba(255, 255, 255, 0.8);
	text-align:center
}
.flickerplate ul.flicks>li .flick-title span.flick-block-text, .flickerplate ul.flicks>li .flick-sub-text span.flick-block-text {
	padding:12px 18px;
	background-color:rgba(0, 0, 0, 0.6)
}
.flickerplate .arrow-navigation {
	position:absolute;
	height:80%;
	width:60px;
	top:10%;
	z-index:100;
}
.flickerplate .arrow-navigation .arrow {
	display:block;
	height:100%;
	width:100%;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out
}
.flickerplate .arrow-navigation:hover, .flickerplate .arrow-navigation .arrow:hover {
	cursor:pointer
}
.flickerplate .arrow-navigation.left {
	left:0%
}
.flickerplate .arrow-navigation.left .arrow {
	opacity:1 !important;
	margin:0px 0px 0px 0%;
	background-image:url(../images/max_prev.png);
	background-repeat:no-repeat;
	background-position:center
}
.flickerplate .arrow-navigation.right {
	right:0%
}
.flickerplate .arrow-navigation.right .arrow {
	opacity:1 !important;
	margin:0px 0px 0px 0%;
	background-image:url(../images/max_next.png);
	background-repeat:no-repeat;
	background-position:center;
}
.flickerplate .arrow-navigation.left.hover .arrow {
	opacity:1;
	margin:0px 0px 0px 0%;
	background:url(../images/max_prev_hover.png);
	background-repeat:no-repeat;
	background-position: center center;
}
.flickerplate .arrow-navigation.right.hover .arrow {
	opacity:1;
	margin:0px 0px 0px 0%;
	background:url(../images/max_next_hover.png);
	background-repeat:no-repeat;
	background-position: center center;
}
.flickerplate .dot-navigation {
	position:absolute;
	bottom:15px;
	width:100%;
	text-align:center;
	z-index:100
}
.flickerplate .dot-navigation ul {
	text-align:center;
	list-style:none;
	padding:0px 15px
}
.flickerplate .dot-navigation ul li {
	display:inline-block;
	float:none
}
.flickerplate .dot-navigation .dot {
	width:10px;
	height:10px;
	margin:0px 6px;
	background-color:rgba(33, 98, 229, 0.3);
	border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-webkit-transition:background-color 0.2s ease-out;
	-moz-transition:background-color 0.2s ease-out;
	-o-transition:background-color 0.2s ease-out;
	-ms-transition:background-color 0.2s ease-out;
	transition:background-color 0.2s ease-out
}
.flickerplate .dot-navigation .dot:hover {
	cursor:pointer;
	background-color:rgba(188, 208, 229, 0.7)
}
.flickerplate .dot-navigation .dot.active {
	background-color:#2162E5;
}
.flickerplate .dot-navigation.left, .flickerplate .dot-navigation.left ul {
	text-align:left
}
.flickerplate .dot-navigation.right, .flickerplate .dot-navigation.right ul {
	text-align:right
}
.flickerplate.flicker-theme-dark .dot-navigation .dot {
	background-color:rgba(0, 0, 0, 0.12)
}
.flickerplate.flicker-theme-dark .dot-navigation .dot:hover {
	background-color:rgba(0, 0, 0, 0.6)
}
.flickerplate.flicker-theme-dark .dot-navigation .dot.active {
	background-color:#000
}
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner {
	color:rgba(0, 0, 0, 0.9)
}
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text {
	color:rgba(0, 0, 0, 0.9)
}
.flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-title span.flick-block-text, .flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text span.flick-block-text {
	background-color:rgba(255, 255, 255, 0.5)
}
.flickerplate ul.flicks li.flick-theme-dark .flick-inner {
	color:rgba(0, 0, 0, 0.9)
}
.flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text {
	color:rgba(0, 0, 0, 0.9)
}
.flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-title span.flick-block-text, .flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text span.flick-block-text {
	background-color:rgba(255, 255, 255, 0.5)
}
.flickerplate.animate-transform-slide ul.flicks {
	-webkit-perspective:1000;
	-webkit-backface-visibility:hidden;
	transform:translate3d(0%, 0px, 0px);
	-webkit-transform:translate3d(0%, 0px, 0px);
	-webkit-transition:-webkit-transform 0.6s;
	-o-transition:-o-transform 0.6s;
	-moz-transition:-moz-transform 0.6s;
	transition:transform 0.6s
}
.flickerplate.animate-transition-slide ul.flicks {
	position:relative;
	left:0%;
	-webkit-transition:left 0.4s ease-out;
	-moz-transition:left 0.4s ease-out;
	-o-transition:left 0.4s ease-out;
	-ms-transition:left 0.4s ease-out;
	transition:left 0.4s ease-out
}
.flickerplate.animate-jquery-slide ul.flicks {
	position:relative;
	left:0%
}
.flickerplate.animate-scroller-slide {
	padding-bottom:0px;
	overflow:auto
}
.flickerplate.animate-scroller-slide ul.flicks {
	position:auto
}
.flicker-example ul li a{
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	left:0px;
}