input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
.jslink{color: #666}
textarea { -webkit-appearance: none;}
input{border-radius:0;}

body{
	padding-top:80px;
}
.top{
	height:140px;
	width:100%;
	background:#061A32;
	position:fixed;
	left:0px;
	top:0px;
	z-index:9999;
}
.logo{
	width:23%;
	margin:30px 0;
}
.pc_nav ul li{
	float:left;
	height:140px;
	line-height:140px;
}
.pc_nav ul li a{
	display:block;
	float:left;
	width:140px;
	font-family:"微软雅黑";
	text-align: center;
	font-size:16px;
	color:#fff;
	font-weight:500;
}
.pc_nav ul li a:hover{
	color:#fff;
	background:#2162E5 url(../images/pc_nav_icon.png) no-repeat center 110px;
}
.pc_nav ul li.on a{
	color:#fff;
	background:#2162E5 url(../images/pc_nav_icon.png) no-repeat center 110px;
}
.ph_logo img{
	height:50px;
}
.mobile-inner-header{
	display:none;
}
.banner{
	height:750px;
}
.c-update{
	background:#F7F7F7;
	padding-top:150px;
	padding-bottom:150px;
}
.c-update-l{
	float:left;
	width:50%;
}
.c-update-l h4{
	font-size:22px;
	width:150px;
	line-height:80px;
	color:#246AF8;
}
.c-update-l .line{
	width:86px;
	border-bottom:2px solid #171717;
}
.c-update-l dl{
	padding:30px 0;
}
.c-update-l dt{
	font-size:32px;
	color:#171717;
	line-height:40px;
	margin:0 0 50px 0;
}
.c-update-l dd{
	margin:20px 10px 0 0;
	font-size:18px;
	line-height:26px;
	color:#999;
}
.c-update-r{
	float:right;
	width:50%;
}
.c-update-r img{ 
	width:100%;
}
.c1{
	background:#071A32 url(../images/c1_bg.jpg) no-repeat center center;
	padding-top:60px;
	padding-bottom:60px;
}
.banner_txt{ }
   103 .banner_txt h2{font-size:80px; font-weight: 5;}
   104 .banner_txt dl{ margin:20px 0;}
   105 .banner_txt dt{font-size: 22px; line-height: 50px}
   106 .banner_txt dd{font-size: 14px; line-height: 40px}
.gg_title{
	text-align:center;
	color:#fff;
}
.gg_title h1{
	font-size:32px;
	line-height:80px;
	font-weight:500;
}
.gg_title p{
	font-size:16px;
	line-height:20px;
	color:#848D99;
}
.gg_title .line{
	height:15px;
	border-top:3px solid #E4E4E4;
	width:30px;
	margin:10px auto;
	color:#848D99;
}
.ColumnOnenav{
	text-align:center;
	padding:50px 0 30px;
	cursor:pointer;
}
.ColumnOnenav li{
	display:inline-block;
	padding:20px 45px;
	color:#848D99;
	border-radius:6px;
	border:1px solid #848D99;
	margin:0 20px;
	font-size:18px;
}
.ColumnOnenav li a{
	color:#fff;
}
.ColumnOnenav li.cur,.ColumnOnenav li:hover{
	background-color:rgba(255, 255, 255, 0.3);
	color:#fff;
}

.boxmain{
	max-width:1200px;
	margin:0 auto;
	padding:5px;

}
.tiao{
	width:100%;
	text-align: left;
	margin-top: 10px;
	color: #666;

}
.tiao1{
	margin-top: 50px;
}
.tiao a{
	color: #89b226;
	font-weight: bold;
	
}
.c1_list{
	padding-top:50px;
}
.c1_list ul li{
	float:left;
	margin-left:1%;
	margin-right:1%;
	width:23%;
	margin-bottom:30px;
	background:#fff;
	border-radius:6px;
}
.c1_titleText{
	width:100%;
	height:80px;
	line-height:80px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	color:#323232;
}
.c1_img{
	overflow:hidden;
}
.c1_img img{
	width:100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.c1_img img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.c-case{
	overflow:hidden;
	border-top:2px solid #B3B3B3;
}
.c-case-l{
	float:left;
	width:50%;
	overflow:hidden;
}
.c-case-l div{
	width:50%;
	float:left;
	display:block;
}
.c-case-l img{
	float:left;
	width:99.6%;
}
.c-case-l img.case1{
	border-right:1px solid #B3B3B3;
	border-bottom:1px solid #B3B3B3;
}
.c-case-l img.case2{
	border-left:1px solid #B3B3B3;
	border-bottom:1px solid #B3B3B3;

}
.c-case-l img.case3{
	border-right:1px solid #B3B3B3;
	border-top:1px solid #B3B3B3;
}
.c-case-l img.case4{
	border-left:1px solid #B3B3B3;
	border-top:1px solid #B3B3B3;
}
.c-case-r{
	float:right;
	width:50%;
	position: relative;
}
.c-case-r .cont{ position: absolute; top: 400px; left: 50%; margin-left: -10%; z-index: 100}
.c-case-r .cont{ text-align: center; background: #246AF8; border-radius: 4px;}
.c-case-r .cont a{ color: #fff; font-size: 18px; padding:10px 20px; display: inline-block;}
.c-case-r .cont a span{ margin-left: 10px;} 
.c-case-r a img{
	width:100%;
	position: absolute;
}
.c-service{
	padding-top:70px;
	padding-bottom:70px;
	background:#fff;
}
.c-service .gg_title{
	text-align:center;
	color:#030020;
}
.c-service .gg_title h1{
	font-size:32px;
	line-height:80px;
	font-weight:500;
}
.c-service .gg_title p{
	font-size:16px;
	line-height:26px;
	color:#666;
}
.c-service .gg_title .line{
	height:15px;
	border-top:3px solid #030020;
	width:30px;
	margin:10px auto;
	color:#848D99;
}

.c2{
	// background:url(../images/bg1.jpg) center center no-repeat;
	padding-top:90px;
	padding-bottom:90px;
}
.c2_img{
	display:table;
	width:190px;
	height:190px;
	border:5px solid #ffffff;
	margin:0 auto;
}
.c2_img div{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:100%;
}

.c2_list{
	padding-top:60px;
	text-align:center;
}
.c2_list ul{
	font-size:0;
}
.c2_list ul li{
	display:inline-block;
	margin-left:30px;
	margin-right:30px;
}
.c2_list ul li a{
	display:block;
}
.c2_ch{
	font-family:"微软雅黑";
	font-size:18px;
	color:#4b4b4d;
	text-align:center;
	padding-top:20px;
}
.c-aboutus{
	width:100%;
	position: relative;
	text-align:center;
}
.c-aboutus img{
	width:100%;
	text-align:center;
}
.c-aboutus h1{
	width:80%;
	position: absolute;
	bottom:40%;
	left:50%;
	margin-left:-40%;
	color:#fff;
	font-size:20px;
	line-height:26px;
}

.proTop{
	background:url(../images/productBg.jpg) center bottom no-repeat;
	margin-top:60px;
	padding:40px 40px 70px;
}
.proTop .gg_title{
	border:1px solid #999;
	text-align:center;
	color:#fff;
	padding:50px 0;
}
.proTop .gg_title h1{
	font-size:36px;
	font-weight:700;
}
.proTop .gg_title p{
	font-size:20px;
	color:#fff;
}
.proTop .gg_title .line{
	height:15px;
	border-top:3px solid #E4E4E4;
	width:50px;
	margin:30px auto 10px auto;
	color:#848D99;
}

.news_main{
	padding-top:0px;
	padding-bottom:50px;
}

.product_main{
	background:#fff;
	padding-top:0px;
	padding-bottom:50px;
}
.product_list{
	padding-top:50px;
}
.product_list ul li{
	float:left;
	margin-left:2%;
	margin-right:2%;
	width:46%;
	margin-bottom:30px;
	background:#fff;
	border-radius:6px;
	padding-bottom:20px;
	box-shadow: 0px 0px 15px #ccc;
}
.product_titleText{
	width:100%;
	height:40px;
	line-height:40px;
	font-weight:700;
	text-align:center;
	font-family:"微软雅黑";
	font-size:18px;
	color:#323232;
}
.product_cont{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:12px;
	color:#7a8189;
}
.product_more{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:12px;
	color:#007aff;
}
.product_img{
	overflow:hidden;
}
.product_img img{
	width:100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.product_img img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.casepage{
	background:url(../images/caseBg.jpg) no-repeat center top;
	padding-top:60px;
	padding-bottom:60px;
}
.casepage .gg_title{
	text-align:center;
	color:#333;
	padding-top:50px;
}
.casepage .gg_title h1{
	font-size:32px;
	line-height:80px;
	font-weight:700;
}
.casepage .gg_title p{
	font-size:16px;
	line-height:20px;
	color:#848D99;
}
.casepage .gg_title .line{
	height:15px;
	border-top:3px solid #E4E4E4;
	width:30px;
	margin:0 auto;
	color:#848D99;
}
.casepage .ColumnOnenav{
	text-align:center;
	padding:50px;
	cursor:pointer;
	border-bottom:1px solid #E6E6E6;
}
.casepage .ColumnOnenav li{
	display:inline-block;
	padding:10px 25px;
	color:#808080;
	border-radius:6px;
	border:1px solid #E5E5E5;
	font-size:18px;
	background:#fff;
}
.casepage .ColumnOnenav li p{
	line-height:40px;
}
.casepage .ColumnOnenav li a{
	color:#808080;
}
.casepage .ColumnOnenav li.cur,.casepage .ColumnOnenav li:hover{
	background-color:rgba(255, 255, 255, 0.3);
	color:#fff;
	border:1px solid #76A3FF;
}
.case_list{
	padding-top:40px;
	background:#FCFCFC;
}
.case_list ul li{
	width:23%;
	float:left;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:30px;
}
.case_list ul li a{
	display:block;
	position:relative;
	width:100%;
	overflow:hidden;
}
.case_listImg{
	width:100%;
}
.case_listImg img{
	width:100%;
}
.case_listPclink{
	position:absolute;
	left:0px;
	top:500px;
	width:100%;
	height:100%;
}
.case_listPclink_jt{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}
.case_listPhtitle{
	position:absolute;
	left:0px;
	bottom:20px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:16px;
	color:#ffffff;
	display:none;
	text-align:center;
	width:100%;
}
.case_listPclink_title{
	position:absolute;
	left:0px;
	top:10%;
	width:100%;
	font-family:"微软雅黑";
	font-size:14px;
	color:#ffffff;
	text-align:center;
}
.case_listPclink_title .gg_title{
	padding:0px 10px 0;
	text-align:center;
	color:#fff;
}
.case_listPclink_title .gg_title h1{
	font-size:24px;
	line-height:60px;
	font-weight:500;
}
.case_listPclink_title .gg_title p{
	font-size:12px;
	line-height:20px;
	color:#fff;
}
.case_listPclink_title .gg_title .line{
	height:15px;
	border-top:3px solid #E4E4E4;
	width:30px;
	color:#848D99;
}
.joinTop{
	background:url(../images/joinBg.jpg) center top no-repeat;
	margin-top:60px;
	padding:220px 40px 100px;
}
.joinTop .gg_title{
	text-align:center;
	color:#fff;
	padding:50px 0;
}
.joinTop .gg_title h1{
	font-size:20px;
	font-weight:700;
	line-height:30px;
}
.joinbox{
	padding:30px 0;
	background:#fff;
}
.joinbox .nav{
	line-height:50px;
	border-bottom:1px solid #E5E5E5;
	overflow:hidden;
}
.joinbox .nav li{
	float:left;
}
.joinbox .nav li a{
	float:left;
	color:#999;
	font-size:16px;
	margin-right:60px;
}
.joinbox .nav li a.cur{
	border-bottom:2px solid #222;
}
.joinbox .link{
	padding:30px 0 20px 0;
	border-bottom:1px solid #E5E5E5;
	overflow:hidden;
}
.joinbox .link a{
	float:left;
	border:1px solid #E5E5E5;
	font-size:14px;
	color:#222;
	margin-right:15px;
	margin-bottom:10px;
	padding:10px 20px;
}
.joinbox .link a.cur{
	background:#246AF8;
	border:1px solid #E5E5E5;
	color:#fff;
}
.joinbox .content{
	
}
.joinbox .content .list{
	padding:30px 30px;
}
.joinbox .content .list h4{
	font-size:18px;
}
.joinbox .content .list h5{
	background:#E9F0FE;
	width:60px;
	text-align:center;
	padding:10px 5px;
	font-size:14px;
	color:#246af8;
	margin:10px 0;
}
.joinbox .content .list h6{
	border-left:3px solid #246AF8;
	padding-left:10px;
	font-size:14px;
}
.joinbox .content .list .ds{
	margin:20px 0;
}
.joinbox .content .list p{
	line-height:30px;
	font-size:14px;
}


.footer{
	background:#F2F2F2;
}
.footer_top{
	max-width:1200px;
	margin:0 auto;
	border-bottom:2px solid #D9D9D9;
	padding-top:30px;
	padding-bottom:30px;
}
.footer_right{
	width:80%;
}
.footer_right ul{
	float:left;
	width:19%;
	margin-left:40px;
}
.footer_navTitle{
	margin-bottom:20px;
	border-bottom:2px solid #D9D9D9;
	height:40px;

}
.footer_navTitle a{
	font-family:"微软雅黑";
	font-size:16px !important;
	color:#404040 !important;
	font-weight:bold;
}
.footer_right ul li a{
	font-family:"微软雅黑";
	font-size:14px;
	color:#4c4c4c;
	line-height:26px;
}
.footer_left{
	width:20%;
}
.footer_left .footer_img{
	width:100%;
}
.footer_left .footer_img img{
	width:180px;
	height:180px;
}
.footer_rightTitle{
	padding-top:10px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#333333;
	text-align:center;
}
.footer_bottom ul{
	font-size:12px;
	color:#4c4c4c;
	padding:10px 0;
	overflow:hidden;
}
.footer_bottom ul li{
	float:left;
	line-height:18px;
	margin-right:30px;
	padding-left:30px;
	text-align:left;
}
.footer_bottom ul li.tel{
	background:url(../images/ft_icon_1.jpg) no-repeat left center;;
	background-size:20px 20px;
}
.footer_bottom ul li.add{
	background:url(../images/ft_icon_2.jpg) no-repeat left center;;
	background-size:20px 20px;
}
.footer_bottom ul li.web{
	background:url(../images/ft_icon_3.jpg) no-repeat left center;;
	background-size:20px 20px;
}
.footer_bottom_t1{
	font-family:"微软雅黑";
	font-size:18px;
	color:#5D5D5A;
	font-weight:100;
}
.footer_bottom_t2{
	font-family:"微软雅黑";
	font-size:50px;
	color:#5D5D5A;
	font-weight:100;
}
.footer_bottom_t3{
	font-family:"微软雅黑";
	font-size:12px;
	color:#5D5D5A;
}
.category_nav{
	// background:url(../images/bg4.png) center center;
	padding-top:35px;
	padding-bottom:35px;
	text-align:center;
}
.category_nav ul li{
	display:inline-block;
	margin-left:45px;
	margin-right:45px;
}
.navIcon{
	background-position:center center;
	background-size:46%;
	background-repeat:no-repeat;
	border-radius:100%;
	width:87px;
	height:87px;
	border:2px solid #ffffff;
	margin:0 auto;
}

@media only screen and (max-width:1300px) and (min-width:100px) {
	.product_listImg img{
		width:100%;
		height:auto;
	}
	.Style_img img{
		width:100%;
		height:auto;
	}
	.style2_img img{
		width:100%;
		height:auto;
	}
}
@media only screen and (max-width:1600px) and (min-width:1000px) {
	.banner{
		height:550px;
	}
}
@media only screen and (max-width:1300px) and (min-width:1000px) {
	.c2_list ul li{
		margin-left:15px;
		margin-right:15px;
	}
	.c-case-r .cont{ position: absolute; top: 320px; left: 50%; margin-left: -12%; z-index: 100}
}
@media only screen and (max-width:1000px) and (min-width:640px) {
	.mobile-inner-header{
		display:block;
	}
	.banner{
		height:350px;
	}
	.banner_txt{}
    .banner_txt h2{font-size:40px; font-weight: 5;}
    .banner_txt dl{ margin:20px 0;}
    .banner_txt dt{font-size: 18px; line-height: 40px}
    .banner_txt dd{font-size: 12px; line-height: 30px}
    .c-case-r .cont{ top: 280px; left: 50%; margin-left: -12%;}
	.c-case-r .cont a{ font-size: 14px;}
	.top{
		display:none;
	}
	body{
		padding-top:50px;
	}
	.c-update{
		background:#F7F7F7;
		padding:30px;
	}
	.c-update-l{
		width:100%;
	}
	.c-update-l h4{
		font-size:22px;
		width:100px;
		line-height:60px;
		color:#246AF8;
	}
	.c-update-l .line{
		width:86px;
		border-bottom:2px solid #171717;
	}
	.c-update-l dl{
		padding:20px 0;
	}
	.c-update-l dt{
		font-size:32px;
		color:#171717;
		line-height:40px;
		margin:0 0 20px 0;
	}
	.c-update-l dd{
		margin:20px 0 0 0;
		font-size:18px;
		line-height:26px;
		color:#999;
	}
	.c-update-r{
		width:100%;
	}
	.c-update-r img{ 
		width:100%;
	}
	.c1_list ul li{
		float:left;
		margin-left:1%;
		margin-right:1%;
		width:31%;
		margin-bottom:30px;
	}
	
	.c2_list ul li{
		margin-left:10px;
		margin-right:10px;
	}
	.c2_img{
		width:130px;
		height:130px;
		border:3px solid #ffffff;
	}
	.c2_img img{
		width:100px;
	}
	.c2_en{
		font-size:14px;
		padding-top:25px;
	}
	.c2_ch{
		font-size:14px;
		padding-top:8px;
	}
	.c-aboutus h1{
		font-size:16px;
		bottom:30%;
	}
	.footer_top{
		display:none;
	}
	.proTop{
		margin-top:0px;
		padding:40px 40px 70px;
	}
	.product_list ul li{
		float:left;
		margin-left:2%;
		margin-right:2%;
		width:46%;
		margin-bottom:30px;
	}
	.case_list ul li{
		width:48%;
		float:left;
		margin-left:1%;
		margin-right:1%;
		margin-bottom:20px;
	}
	.joinTop{
		margin-top:0px;
	}
	
}
@media only screen and (max-width:640px) and (min-width:0px) {
	.mobile-inner-header{
		display:block;
	}
	.top{
		display:none;
	}
	body{
		padding-top:50px;
	}
	.banner{
		height:250px;
	}
	.banner_txt{ }
    .banner_txt h2{font-size:30px; font-weight: 5;}
    .banner_txt dl{ margin:10px 0;}
    .banner_txt dt{font-size: 15px; line-height: 36px}
    .banner_txt dd{font-size: 10px; line-height: 24px}
    .c-case-r .cont{ position: absolute; top: 130px; left: 50%; margin-left: -20%; z-index: 100}
	.c-case-r .cont{ text-align: center; background: #246AF8; border-radius: 4px;}
	.c-case-r .cont a{ color: #fff; font-size: 10px; padding:5px 10px; display: inline-block;}
	.c-case-r .cont a span{ margin-left: 10px;}
	.flickerplate .arrow-navigation {
		width:10%;
	}
	.c-update{
		background:#F7F7F7;
		padding:30px;
	}
	.c-update-l{
		width:100%;
	}
	.c-update-l h4{
		font-size:22px;
		width:100px;
		line-height:60px;
		color:#246AF8;
	}
	.c-update-l .line{
		width:86px;
		border-bottom:2px solid #171717;
	}
	.c-update-l dl{
		padding:20px 0;
	}
	.c-update-l dt{
		font-size:32px;
		color:#171717;
		line-height:40px;
		margin:0 0 20px 0;
	}
	.c-update-l dd{
		margin:20px 0 0 0;
		font-size:18px;
		line-height:26px;
		color:#999;
	}
	.c-update-r{
		width:100%;
	}
	.c-update-r img{ 
		width:100%;
	}
	.ColumnOnenav{
		text-align:center;
		padding:30px 0 20px;
		cursor:pointer;
	}
	.ColumnOnenav li{
		display:inline-block;
		padding:10px 15px;
		color:#848D99;
		border-radius:6px;
		border:1px solid #848D99;
		margin:0 10px;
		font-size:16px;
	}
	.c1_list ul li{
		float:left;
		margin-left:1%;
		margin-right:1%;
		width:48%;
		margin-bottom:10px;
	}
	.c1{
		padding-top:25px;
		padding-bottom:15px;
	}
	.c1_list{
		padding-top:20px;
	}
	.c1_titleText{
		height:50px;
		line-height:50px;
		font-size:1em;
	}
	.product_list ul li{
		float:left;
		margin-left:1%;
		margin-right:1%;
		width:98%;
		margin-bottom:10px;
	}
	.product_list{
		padding-top:20px;
	}
	.product_titleText{
		height:30px;
		line-height:30px;
		font-size:1em;
	}
	.c-service{
		padding:30px 10px;
	}
	.c-service .gg_title{
		text-align:center;
		color:#030020;
	}
	.c-service .gg_title h1{
		font-size:32px;
		line-height:60px;
		font-weight:500;
	}
	.c-service .gg_title p{
		font-size:14px;
		line-height:26px;
		text-align:left;
		color:#666;
	}
	.c-service .gg_title .line{
		height:15px;
		border-top:3px solid #030020;
		width:30px;
		margin:10px auto;
		color:#848D99;
	}
	.c2_list ul li{
		margin-left:1%;
		margin-right:1%;
		margin-bottom:0px;
	}
	.c2_img{
		width:120px;
		height:120px;
	}
	.c2_img img{
		width:90px;
	}
	.c2_en{
		font-size:0.8em;
		padding-top:15px;
	}
	.c2_ch{
		font-size:10px;
		padding-top:0px;
		text-align:center;
	}
	.c2{
		padding-top:25px;
		padding-bottom:15px;
	}
	.c2_list{
		padding-top:15px;
	}
	.c2_jt{
		display:none;
	}
	.c3_list{
		padding-top:20px;
	}
	.c3_list ul li{
		width:98%;
		margin-left:1%;
		margin-right:1%;
		margin-bottom:10px;
	}
	.c-aboutus h1{
		font-size:12px;
		bottom:20%;
	}
	.footer_top{
		display:none;
	}
	.footer_bottom{
		text-align:center;
	}
	.footer_bottom_t1{
		font-size:1em;
		padding-bottom:4px;
	}
	.footer_bottom_t2{
		font-size:1.4em;
		padding-bottom:4px;
	}
	.footer_bottom_t3{
		font-size:0.8em;
	}
	.proTop{
		margin-top:0px;
		padding:15px 15px 70px;
	}
	.proTop .gg_title{
		border:1px solid #999;
		text-align:center;
		color:#fff;
		padding:20px 0;
	}
	.proTop .gg_title h1{
		font-size:20px;
		line-height:40px;
		font-weight:700;
	}
	.proTop .gg_title p{
		font-size:14px;
		color:#fff;
	}
	.proTop .gg_title .line{
		height:15px;
		border-top:3px solid #E4E4E4;
		width:50px;
		margin:20px auto 0px auto;
		color:#848D99;
	}
	.casepage{
		padding-top:0;
	}
	.case_list ul li{
		width:98%;
		margin-bottom:10px;
	}
	.case_listPhtitle{
		display:block;
	}
	.casepage .ColumnOnenav li{
		display:inline-block;
		padding:5px 5px;
		color:#808080;
		border-radius:6px;
		border:1px solid #E5E5E5;
		font-size:14px;
		background:#fff;
	}
	.casepage .ColumnOnenav li p{
		line-height:30px;
	}
	.casepage .ColumnOnenav li a{
		color:#808080;
	}
	.joinTop{
		margin-top:0px;
	}
	.joinbox .nav li a{
		float:left;
		color:#999;
		font-size:16px;
		margin-right:0;
		margin-left:30px;
	}
	
}
@media only screen and (max-width:440px) and (min-width:0px) {
	
	.c-aboutus h1{
		font-size:12px;
		bottom:10%;
		font-size:10px;
		line-height:20px;
	}
}